<!DOCTYPE html>
<html>
  <head>
    <title>Mobile NameCard Maker</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/spectrum-colorpicker2/dist/spectrum.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/spectrum-colorpicker2/dist/spectrum.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/global.js"></script>
  </head>
  <body>
    <div class="inner">
      <div class="flex center">
        <%-include('include/header.ejs') %>
          <%-include(pageName) %>
        <%-include('include/footer.ejs') %>
      </div>
    </div>
  </body>
</html>