<header class="header">
    <!-- <img class="logo" src="/images/logo.png" alt="logo"> -->
    <h1>Mobile NameCard Maker</h1>
    <div id="topCon">
        <button id="logout" class="btn logout none">로그아웃</button>
    </div>
</header>

<script type="module">
import { app } from './javascripts/firebase.js';
import AuthLogic, { logout } from './javascripts/authLogic.js';

const userId = window.localStorage.getItem('userId')
const topCon = document.querySelector('#topCon');
const logoutBtn = document.querySelector('#logout');

// isLoggedIn
if (userId) {
    console.log('로그인된 사용자:', userId)
    logoutBtn.classList.remove('none')
} else{
    console.log('로그인되지 않은 사용자')
    logoutBtn.classList.add('none')
}

// 로그아웃 이벤트 핸들러
const authLogic = new AuthLogic(app)
const logoutEvent = async(e) => {
    e.preventDefault()
    try {
        await logout(authLogic.getUserAuth())
        window.localStorage.removeItem('userId')
        window.location.href = '/'
    } catch (error) {
        console.error('로그아웃 실패:', error)
    }
}

logoutBtn.addEventListener('click', logoutEvent)

</script>