<header class="header">
    <!-- <img class="logo" src="/images/logo.png" alt="logo"> -->
    <h1>Mobile NameCard Maker</h1>
</header>

<script>
    // const userId = window.localStorage.getItem('userId')
    // console.log(userId);
    // if(userId){
    //     console.log('userId 담기완료!!');
    //     document.write('<button class="btn logout" href="/logout">로그아웃</button>')
    // }else{
    //     document.write('<button class="btn login" href="/lgoin">로그인</button>')
    // }
</script>