<div class="">
    <div class="maker">
        <div class="nameCardMaker makerCon">
            <div class="itemList">
                <p class="cardTit">card name.</p>
                <input id="cardTit" type="text" class="inputText">
            </div>
            <div class="itemList">
                <p class="cardTit">Name.</p>
                <input id="cardName" type="text" class="inputText">
            </div>
            <div class="itemList">
                <p class="cardTit">Team.</p>
                <input id="cardDir" type="text" class="inputText">
            </div>
            <div class="itemList">
                <p class="cardTit">email.</p>
                <input id="cardEmail" type="text" class="inputText">
            </div>
            <div class="itemList">
                <p class="cardTit">Address.</p>
                <input id="cardAdd" type="text" class="inputText">
            </div>
            <div class="itemList">
                <p class="cardTit">Phone.</p>
                <input id="cardPhone" type="text" class="inputText">
            </div>
            <div class="itemList">
                <p class="cardTit">SNS url.</p>
                <input id="cardSns" type="text" class="inputText">
            </div>
            <div class="itemList">
                <p class="cardTit">Photo.</p>
                <input id="cardPhoto" type="file" class="inputText">
            </div>
        </div>
        <button id="btnPreview" class="btn btnPreview" type="button">명함 미리보기</button>
    </div>

    <div class="preview none">
        <div class="nameCardPreView makerCon">
            <div class="con">
                <p id="viewTit" class="tit">Card name</p>
                <p class="proImgWrap"><img class="proImg" src="./images/user.png" alt="프로필사진" id="viewPhoto"></p>
                <p id="viewName" class="name">Son Ha Seon</p>
                <p id="viewDir" class="team">Technical Support Team</p>
                <ul>
                    <li>
                        <img class="icon" src="./images/email_icon.png" alt="이메일 아이콘">
                        <a id="viewEmail" href="mailto:nameCard@gmail.com" class="text">nameCard@gmail.com</a>
                    </li>
                    <li>
                        <img class="icon" src="./images/phone_icon.png" alt="전화 아이콘">
                        <a id="viewPhone" href="tel:010-1234-1236" class="text">010-3258-4515</a>
                    </li>
                    <li>
                        <img class="icon" src="./images/add_icon.png" alt="주소 아이콘">
                        <a id="viewAdd" href="https://www.google.co.kr/maps/place/%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EC%9A%A9%EC%82%B0%EA%B5%AC+%ED%95%9C%EB%82%A8%EB%8F%99" class="text">서울시 용산구 한남동 15-5</a>
                    </li>
                    <li>
                        <img class="icon" src="./images/link_icon.png" alt="SNS 아이콘">
                        <a id="viewSns" href="https://www.instagram.com/day6kilogram/" class="text snsText">https://www.instagram.com/day6kilogram/</a>
                    </li>
                </ul>
            </div>
        </div>
        <button id="btnConfirm" class="btn btnMaker" type="button">명함 만들기</button>
    </div>
</div>

<script type="module" src="./javascripts/maker.js"></script>