<div>
    
    <div class="nameCardMaker makerCon">
        <p>Card Maker</p>
        <div class="nameCardTxt">
            <p><span>테 스트</span><span>부서/직급</span></p>
            <p><span>Email.</span><span></span></p>
            <p><span>Email.</span><span></span></p>
            <p><span>Address.</span><span></span></p>
        </div>
    </div>

    <div class="nameCardView makerCon">
        <p>Card Preview</p>
        <div class="nameCardTxt">
            <p><span>테 스트</span><span>부서/직급</span></p>
            <p><span>Email.</span><span></span></p>
            <p><span>Email.</span><span></span></p>
            <p><span>Address.</span><span></span></p>
        </div>
    </div>

    <button class="btn" onclick="confirm()">명함 완성</button>
</div>
<script type="module" src="./javascripts/maker.js"></script>
<script type="module">

    const userId = localStorage.getItem('userId')
    console.log('maker'+ userId);

    const confirm = () => {
        window.location.href = `/view?id=${userId}`
    }

    window.confirm = confirm
</script>