


<div class="nameCardWrap">
    <!-- <img src="/images/logo.png" alt=""> -->
    <div class="nameCardTxt">
        <p><span>테 스트</span><span>부서/직급</span></p>
        <p><span>Email.</span><span></span></p>
        <p><span>Email.</span><span></span></p>
        <p><span>Address.</span><span></span></p>
    </div>
</div>

<script type="module" src="./javascripts/maker.js"></script>
<script>
    const userId = localStorage.getItem('userId')
    console.log('maker'+ userId);

</script>