<div class="nameCardView w100">
  <div class="preview">
    <div class="nameCardPreView makerCon">
      <div class="con">
        <p id="viewTit" class="tit"></p>
        <p class="proImgWrap"><img class="proImg" src="./images/user.png" alt="ν”„λ΅ν•„μ‚¬μ§„" id="viewPhoto"></p>
        <p id="viewName" class="name"></p>
        <p id="viewDir" class="team"></p>
        <ul>
          <li>
              <!-- <img class="icon" src="./images/email_icon.png" alt="μ΄λ©”μΌ μ•„μ΄μ½"> -->
              <span class="icon">π“§</span>
              <a id="viewEmail" href="" class="text"></a>
          </li>
          <li>
              <!-- <img class="icon" src="./images/phone_icon.png" alt="μ „ν™” μ•„μ΄μ½"> -->
              <span class="icon">π“</span>
              <a id="viewPhone" href="" class="text"></a>
          </li>
          <li>
              <!-- <img class="icon" src="./images/add_icon.png" alt="μ£Όμ† μ•„μ΄μ½"> -->
              <span class="icon">π“</span>
              <a id="viewAdd" href="" class="text"></a>
          </li>
          <li>
              <!-- <img class="icon" src="./images/link_icon.png" alt="SNS μ•„μ΄μ½"> -->
              <span class="icon">π”—</span>
              <a id="viewSns" href="" class="text snsText"></a>
          </li>
        </ul>
      </div>
    </div>
    <button id="btnList" class="btn btnList" type="button">λ©λ΅</button>
  </div>
</div>

<script type="module" src="./javascripts/view.js"></script>